* body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(29, 28, 28);
  background:rgb(29, 28, 28) url(https://i.gifer.com/QIPt.gif)
  
  
}

 .img{
  background-repeat: repeat-x;
  background-position: center;

 }

.text-bootstrap {
    color:#a19e9e !important;
    text-align: center;
  }
  
  .btn-bootstrap{
    background-color: #97c93e;
    color: white;
  }
  
  .btn-bootstrap:hover {
    background-color: #82ad36;
  }
  
  #header img {
    width: 80px;
    
  }
  
  #main .carousel-inner img {
    max-height: 80vh;
    
    max-width: 300vh;
    
    object-fit: cover;
    filter: grayscale(80%);
  }
  
  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  
  #place-time {
    background-color: black;
    color: white;
  }
  
  #place-time img {
    max-width: 100%;
  }
  

  h3, .card-title {
    color: black;
    font-size: 1.5em;
    text-align: center;


  }

  .card{
      width:100%;
      margin: 100px;
      padding: 100px;
      
     
  }
  iframe{
    width: 100%;
    height: 30vh;
    border-radius: 25px;
  }
  .top-personajes_titulo {
    color: white;
    font-size: 2.0em;
    text-align: center;
    padding-top: 15px;
    padding-bottom:15px;
    background-color: #24578a;
    border-radius: 10px;
  }

 
  

.ext-center center-block a:hover{
color: #82ad36;
font-size: 50px;
}
  /* Fin Style all font awesome icons */


  #footer {
    background: linear-gradient(90deg,#04a8fa,#273b47 25%,#049df5);
  }
  
  #footer a {
    color: white;
  }
  

  @media screen and (max-width: 768px) {



    .body{

      text-align: center;
      
      font-family: Arial, Helvetica, sans-serif;
      background-color: black;
      
     }
     
     #footer {
      background: linear-gradient(90deg,#04a8fa,#273b47 25%,#049df5);
    }
    
    #footer a {
      color: white;
    }
    
    
    .card{
      margin-left: auto;
     }

    
  }
